/**************
 These are the body properties that apply to the whole website
 **************/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: #d9dcd6;
	/* Sets whole website colour to light grey */
}

/**************
 These are the header properties
 **************/
/* Set heading background to teal with white font colour */
.header {
	padding: 20px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	background-color: #2a607c;
	color: #ffffff;
}
/* Set text color to white */
.header h1 {
	/* This is the largest text */
	display: inline-block;
	font-size: 48px;
}
/* Set 'seo' color to light grey */
.header h1 .seo {
	color: #d9dcd6;
}

/**************
 These are the navigation list properties
 **************/
.header nav {
	/* Below sets padding, margin, font family and colour */
	padding-top: 15px;
	margin-right: 20px;
	float: right;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /* Font family used for header */
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}
.header nav ul li {
	/* Below sets the list properties */
	list-style-type: none;
	display: inline-block;
	margin-left: 25px;
	color: #ffffff;
	text-decoration: none;
}
a {
	/* applies only to anchor */
	color: #ffffff;
	text-decoration: none;
}
p {
	/* applies only to paragraph */
	font-size: 16px;
}

/**************
 These are the hero image properties
 **************/
.hero {
	/* These are the hero image properties*/
	height: 800px;
	width: 100%;
	margin-bottom: 25px;
	background-image: url("../images/digital-marketing-meeting.jpg");
	background-size: cover;
	background-position: center;
}
/**************
 These are the main section properties
 **************/
.float-left {
	/* Tells image where to align */
	float: left;
	margin-right: 25px;
}
.float-right {
	/* Tells image where to align */
	float: right;
	margin-left: 25px;
}
.content {
	/* class for content main section positioning */
	width: 75%;
	display: inline-block;
	margin-left: 20px;
}
#search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /* Font family used for main section */
	background-color: #0072bb;
	color: #ffffff;
}

#search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
	max-height: 200px;
}

#search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
	margin-bottom: 20px;
	font-size: 36px; /* This is larger text */
}

/**************
 These are the aside area properties
 **************/
.benefits {
	/* These are the aside section properties */
	margin-right: 20px;
	padding: 20px;
	clear: both;
	float: right;
	width: 20%;
	height: 100%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /* Font family used for aside */
	background-color: #2589bd;
}
.benefit-lead,
.benefit-brand,
.benefit-cost {
	margin-bottom: 32px;
	color: #ffffff;
}
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
	/* Heading three properties */
	margin-bottom: 10px;
	text-align: center;
}
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
	/* Image properties */
	display: block;
	margin: 10px auto;
	max-width: 150px;
}

/**************
 These are the footer properties
 **************/
.footer {
	padding: 30px;
	clear: both;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; /* Font family used for footer */
	text-align: center; /* Sets text to centre of page */
}
.footer h2 {
	font-size: 20px; /* This is medium size, Heading Two */
}
